/**
 * Custom LESS CSS
 * ---------------
 * Add any styles & overrides that this specific project will use.
 * If you find yourself needing these styles across multiple projects; request for a DD Adapt Framework developer to implement them in the 
 * adapt-didasko theme for you.
 *
 * You are not limited to creating styles in this file. You can add as many *.less files within this directory as you require.
 * 
 * BE SURE TO READ THE INCLUDED README.txt BEFORE ADDING STYLES.
 */

/* EXAMPLE (remove when not needed) */

// Custom underline
// ---------------------------------------------
// Some text needs to be made red, italic, and underlined.
.c-underline {
	color: red;
	text-decoration: underline;
	font-style: italic;
}

/************************************/

.c-speech {
	display: grid;
	gap: 0.5rem;

	.hyb-speechbubble {
		max-width: 90%;
	}

	.hyb-speechbubble.theme-blue {
		justify-self: flex-end;
	}
	.hyb-speechbubble.theme-yellow {
		justify-self: flex-start;
	}

}

.c-b41-table {
	th {
		text-align: right;
	}

	th, td {
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}
}

.c-b4 {
	h3 {
		margin-top: -0.6rem;
		line-height: 1.5;
	}
}