<div class="footer__inner">
    
    <div class="footer__controls-container">
        
        <button class="footer__controls footer__controls-notes js-footer-controls-notes">
            <span title="Show notes" class="icon icon-hm-notes"></span>
            <span title="Hide notes" class="icon icon-hm-notes-off"></span>
        </button>

        <button class="footer__controls footer__controls-fs js-footer-controls-fs">
            <span title="Enter fullscreen" class="icon icon-video-fullscreen"></span>
            <span title="Exit fullscreen" class="icon icon-video-exit-fullscreen"></span>
        </button>

        
    </div>

    <div class="footer__progress js-footer-progress">
        {{!Navbar generated into here.}}
    </div>

    <div class="footer__controls-container">
        
        <button class="footer__controls footer__controls-prev js-footer-controls-prev">
            <span class="icon icon-hm-prev"></span>
        </button>
        <div class="footer__label">
            <span class="footer__label-cur js-footer-label-cur">00</span> / <span class="footer__label-total js-footer-label-total">00</span>
            {{#if ./_isDebug}}<div class="footer__label-debug js-footer-label-debug">b-ERROR</div>{{/if}}
        </div>
        <button class="footer__controls footer__controls-next js-footer-controls-next">
            <span class="icon icon-hm-next"></span>
        </button>

        

        
        
    </div>
    
    
</div>