<div class="header__inner">
    
    <div class="header__controls-container">
        <button class="header__controls header__menu-btn js-header-menu-btn">
            <span class="header__menu-btn-icon icon icon-menu"></span>Menu
        </button>
    </div>

    <div class="header__body">
        <div class="header__body-inner">
            <div class="header__title js-header-title">
                <div class="header__title-inner">
                    {{./title}}
                </div>
            </div>
            {{#if ./subTitle}}
            <div class="header__sub-title">
                <div class="header__sub-title-inner">
                    {{./subTitle}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="header__logo">
        <img src="menu/assets/dlr-logo.svg">
    </div>
</div>