<div class="notes__item-inner">
    <div class="notes__item-title">
        <div class="notes__item-title-inner">
            {{./title}}
        </div>
    </div>
    <textarea 
        style="height: 20px;"
        class="notes__item-textarea js-notes-item-textarea" 
        placeholder="Enter notes here..."
        tabindex="-1">{{./body}}</textarea>
</div>