<div class="notes__inner">
    <div class="notes__handle js-notes-handle">
        <div class="notes__handle-title">
            <span class="icon icon-hm-notes"></span> Notes
        </div>
    </div>
    <div class="notes__content" data-scroll="auto" tabindex="-1">
        <div class="notes__items">
            <div class="notes__items-inner js-notes-items-container">
                {{! Notes generated here }}
            </div>
        </div>
    </div>
    <div class="notes__controls-container">
        <button 
            class="notes__controls notes__controls-add js-notes-controls-add" 
            tabindex="-1" {{! tabindex added to prevent autofocus bug on iPhones }}
            >
            <span class="state-unlocked">+ Add note</span>
            <span class="state-locked">Scroll to current</span>
        </button>
        {{!<button class="notes__controls notes__controls-scroll js-notes-controls-scroll">Scroll to current</button>!}}
        <button 
            class="notes__controls notes__controls-save js-notes-controls-save" 
            title="Download notes as a .doc file"
            tabindex="-1"  {{! tabindex added to prevent autofocus bug on iPhones }}
            ><span class="icon icon-download"></span>Save</button>
    </div>
</div>